/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #3e2723;
}

header {
    background-color: #5d4037;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 40px;
}

header p {
    margin-top: 10px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 40px;
}

section {
    max-width: 1100px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

section > p {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.cardapio {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card {
    background-color: white;
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card h3 {
    color: #8d4e2f;
    margin-bottom: 12px;
}

.card p {
    margin-bottom: 15px;
}

.card span {
    font-weight: bold;
    color: #8d4e2f;
}

.card:hover {
    transform: translateY(-5px);
}

#destaque {
    background-image: url("imagem-fundo.jpg");
    background-size: cover;
    background-position: center;
}