/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #3e2723;
}

header {
    background-color: #5d4037;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 40px;
}

header p {
    margin-top: 10px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 40px;
}

section {
    max-width: 1100px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

section > p {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}